    @font-face {
    font-family: light; 
    src: url('light.ttf');
}
    @font-face {
    font-family: normal; 
    src: url('normal.ttf');
}
   @font-face {
    font-family: bold; 
    src: url('bold.ttf');
}

@font-face {
    font-family: bold2; 
    src: url('bold2.otf');
}

     body {
      max-width: 400px;
      width: 100%;
     font-family: 'normal', Arial, sans-serif; /* Используйте light до загрузки шрифтов */
      background-color: white;
      margin: 0 auto;
      overflow-x: hidden;
      overflow-y: auto;
      padding:0;
        -webkit-user-select: none; /* Запрет на случайное копирование текста на мобильных устройствах */
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
 
    .profile-header {
     position: relative;
       width: 100%;
     text-align: center;
     
    }
    
    .profile-header img {
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
     width: 98%;
      height: 163px;
      object-fit: cover;
      pointer-events: none;

    }
    
    .profile-avatar img {
      width: 108px;
      height: 108px;
      border-radius: 50%;
      position: absolute;
      top: 100px;
      left: 10px;
      border: 3px solid white;
      object-fit: cover;
      pointer-events: none;
    }

 .follow-btn {
      position: absolute;
      font-size: 14px;
      margin-top: 5px;
      text-align: center;
      right: 6px;
      padding: 12px 20px;
      border: none;
      border-radius: 25px;
      background: #01AFF0;
      line-height: 1;
      color: white;
      font-weight: bold;
    }
    
    .user-info {
      position: relative;
      top: 45px;
      left: 0px;
      margin: 0px;
      padding-left: 10px;
    
     
    }
    .username {
    font-family: 'bold', Arial, sans-serif;
     margin: 0;
     font-size: 20px;
     color: #222;
    
    
    }

     .handle {
      font-family: 'normal', Arial, sans-serif;
      margin: 0;
      font-size: 15px;
      color: #84909E;
     
     }

     .username img {
     pointer-events: none;
     
      width: 23px; 
      height: 23px; 
      vertical-align: middle;
       margin-bottom: 2px;
      }
    
    .post-stats {

pointer-events: none;

 margin-top: 2px;
     
    }
    
    .stat {
      font-size: 15px;
      font-family: 'bold', Arial, sans-serif;
      color: #333;
      margin-right: 8px;

    }
   
    .post-stats .stat:nth-child(1) img {
      width: 13.5px;
      height: 13.5px;
      margin-bottom: 2px;
      vertical-align: middle;
    }
    
    .post-stats .stat:nth-child(2) img {
      width: 16px;
      height: 16px;
      margin-bottom: 5px;
      vertical-align: middle;
      
    }
    
    .post-stats .stat:nth-child(3) img {
      width: 15px;
      height: 15px;
      margin-bottom: 4px;
      margin-left: 1px;
      vertical-align: middle;
    }
    
    .post-stats .stat:nth-child(4) img {
      width: 17px;
      height: 17px;
      margin-left: 5px;
      margin-bottom: 3px;
      vertical-align: middle;
    }

.main{
margin-top: -10px;
font-family: 'normal', Arial, sans-serif;
font-size: 15px; 
color: #6D7884; 
text-align: left; 
width: 90%;

}
.more {
    display: block;
    text-align: left;
    font-size: 14.5px;
    margin-top: 0;
    margin-bottom: 35px;
    font-family: 'normal', Arial, sans-serif;
    color: #01AFF0;
    text-decoration: none;
}

.more-text {
    display: none;
    margin-top: -15px; /* Уменьшаем отступ сверху */
    /* Другие стили */
}

.single-grid .post {

pointer-events: none;

   grid-column: span 3;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 133.33%; /* 3:4 aspect ratio */
    margin-bottom: 30px; 
    margin-top: 100px;
   
}

.single-grid .grid-container {
    grid-template-columns: repeat(1, 1fr);
   
}

   
        /* CSS остается тем же */

        /* Стили для отображения увеличенной фотографии */
                .modal {
            display: none;
            position: fixed;
            z-index: 999;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.9);
        }

        .modal-content {
            display: block;
            max-width: 90%;
            max-height: 90%;
            margin: auto;
            margin-top: 50%; /* Добавляем отступ сверху для центрирования по вертикали */
        }

        .close {
            color: #fff;
            position: absolute;
            top: 20px;
            right: 25px;
            font-size: 35px;
            font-weight: bold;
            transition: 0.3s;
            cursor: pointer;
        }

        .close:hover {
            color: #bbb;
        }

    .separator4 {
      max-width: 400px;
      position: absolute;
      width: 100%;
      height: 0.9px;
      background: #D8D8D8;
      margin-top: 40px;
      margin-bottom: 0px;
    }

    .separator {
      width: 100%;
      height: 20px;
      background: #F8F8F8;
      margin-top: 43px;
      margin-bottom: 1px;
    
    }

    .separator0 {
     max-width: 400px;
      position: absolute;
      width: 100%;
      height: 1px;
      background: #D8D8D8;
      margin-top: 43px;
      margin-bottom: 10px;
    }

    
    .post-container {
      position: relative;
      left: 0;
      top: 0;
      width: 95%;
       
      margin: 0 auto;
      /* Центрируем элемент по горизонтали */
      border-radius: 10px;
     
    }
    
    .post-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
    }
    
    .post-user {
       font-family: 'normal', Arial, sans-serif;
      font-size: 14px;
      color: #333;
      display: flex;
      align-items: center;
      margin-bottom: -5px;
    }
    
    .post-date {
      font-family: 'normal', Arial, sans-serif;
      font-size: 14px;
      color: #888;
      margin-right: 20px;
    
       }

.centered-text {
 font-family: 'bold', Arial, sans-serif;
position: absolute;
  top: 50%;
  left: 50%;
 transform: translate(-50%, -50%);
  text-align:left;
 z-index: 2;
  color: black;
  font-size: 17px;
 white-space: nowrap; /* Предотвращает перенос текста на новую строку */
  text-transform: uppercase; /* Делает все буквы заглавными */
 /* Делает текст жирным */
  line-height: 1.3; /* Увеличивает расстояние между строками */
 background-color: rgba(255, 255, 255, 0.5); /* Полупрозрачный белый фон */
  padding: 10px; /* Добавляет небольшие отступы вокруг текста */
  border-radius: 4px; /* Делает углы фона закругленными */
  opacity: 0.6; /* Уменьшает прозрачность текста */
}

.container-wrapper {
    position: relative;
    top: 55px;
    right: 0px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.container {
    width: calc(50% - 0px);
    border: 0px solid black;
    height: 60px;
    text-align: center; 
     font-family: 'bold', Arial, sans-serif;
     color: #333;
     font-size: 16px;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
}

.container::after {
    content: ''; 
    position: absolute; 
    bottom: 26px; 
    left: 0; 
    width: 0; 
    border-bottom: 2px solid #01AFF0; 
    opacity: 0;
    transition: opacity 1s;
   
}

.container.clicked::after {
    width: 100%; 
    opacity: 1;
  
}

.clicked {
    color: #01AFF0;
}

      #btn:disabled:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 14px;
    left: 0;
    top: 0;
    background: linear-gradient(to right, transparent 50.0%, rgba(255,255,255,.15) 50.0%);
    background-size: 200% 100%;
    animation: loading 5s linear infinite;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.text-right img

{

pointer-events: none;

width: 19px; height: 19px; vertical-align: middle; margin-bottom: 5px; margin-left: 0px

}

#dialogContainer {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            padding-top: 300px;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .79);
            justify-content: center;
            align-items: center;
            z-index: 999;
            opacity: 0;
            animation: fadeIn 0.5s ease-out forwards;
           
        }

        #dialog {
            margin: 0 auto;
            height: 120px;
            width: 235px;
            background: rgba(255,255,255,.96);
            padding: 10px 20px;
           text-align: center;
            border-radius: 12px;
            box-shadow: 0 4px 3px rgba(35,35,35,.7);
           
        }

        #closeBtn {

font-family: 'bold', Arial, sans-serif;

border: none;
           background-color: transparent;
            font-size: 20px;
           
            color:  #01AFF0;
        }

        #dialog p {
            font-family: 'normal', Arial, sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.6;
           
        }

#modalContainer {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            padding-top: 100px;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .79);
            justify-content: center;
            align-items: center;
            z-index: 999;
            opacity: 0;
            animation: fadeIn 0.5s ease-out forwards;
           
        }

        #modal {

           
            position: relative;
            margin: 0 auto;
            height: 300px;
            width: 70%;
            max-width: 260px;
            background: rgba(255,255,255,.96);
            padding: 10px 20px;
           text-align: center;
            border-radius: 12px;
            box-shadow: 0 4px 3px rgba(35,35,35,.7);
           
        }


#signup {
    
      font-size: 16px;
      text-align: center;
      padding: 12px 20px;
      border: none;
     border-radius: 25px;
      background: #01AFF0;
      line-height: 1;
      color: white;
      font-weight: bold;
     margin: 0 auto;
    }



/* Стили для текста в модальном окне */
#modal p {
    font-family: 'normal', Arial, sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.6;
    margin-bottom: 25px;
    margin-top: 10px;
   
}

#modal > img:nth-child(1) {
    position: absolute;
        width: 20px; /* Задайте желаемую ширину */ opacity: 0.5;
        height: 20px; /* Задайте желаемую высоту */
        border: none;
        top: 10px;
        right: 10px;
}

#modal > img:nth-child(2) {


width: 70%; /* Ширина SVG изображения */
    height: auto; /* Высота SVG изображения */
    /* Отступ снизу */
    margin-top: 22px;

    /* Стили для второго изображения здесь */
  
   
}

/* Стили для модального окна */

/* Стили для модального окна */

body {
      font-family: 'normal', Arial, sans-serif; /* Используйте light до загрузки шрифтов */
}
    @font-face {
    font-family: normal; 
    src: url('img/normal.ttf');
}
   @font-face {
    font-family: bold; 
    src: url('img/bold.ttf');
}




.line {
    height: 1px; /* Высота линии */
    background-color: #ccc; /* Цвет линии */
    margin-top: 2px; /* Отступ от текста */
    margin-bottom: 7px;
}

.separator2 {
      width: 100%;
      height: 20px;
      background: #F8F8F8;
      margin-top: 20px;
      margin-bottom: 10px;
    }
.feed {
margin-top: 10px;
}

    .separator3 {
      max-width: 400px;
      position: absolute;
      width: 100%;
      height: 1px;
      background: #D8D8D8;
      margin-top: 20px;
      margin-bottom: 10px;
    }

.post-content {
  margin-top: auto;
  position: relative;
  display: inline-block;
  overflow: hidden;
  background-color: white;
  border-radius: 20px;
  width: 100%;
  z-index: 3;

 
}

.blur {
 
  overflow: hidden;
  background-color: black;
  width: 100%;
  height: 100%;
filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  backdrop-filter: blur(6.5px);
border-radius: inherit;
z-index: 2;
margin: 0 auto;

}

.img {

display: block;
  pointer-events: none;
  width: 100%;
  height: auto;
  margin: 0 auto;
border-radius: inherit;

}

.img2 {

border-radius: 10px;
 pointer-events: none;
  width: 100%;
  height: auto;
  margin: 0 auto;
  z-index: 1;
}

   .data {
       margin-top: 10px;
       margin-left: 5px;
       text-align: left;
      font-size: 15px;
      color: #444;
      font-family: 'normal', Arial, sans-serif;
    }

    .post-stats {
      display: absolute;
      margin-left: 10px;
      margin-top: 8px;
      margin-bottom: 8px;
      align-items: center;
      justify-content: space-between;
      font-size: 14px;
      color: #333;
      font-family: 'normal', Arial, sans-serif;
    }
    
    .post-likes {
      display: flex;
    }
    
    .like-icon,
    .post-comments {

font-family: 'normal', Arial, sans-serif;

}
    
    .ziro {
      margin-left: 5px;
      margin-right: 5px;
    }
    
    .profile-picture img {
pointer-events: none;
      width: 54px;
      height: 54px;
      border-radius: 50%;
      margin-top: 8px;
      margin-bottom: -4px;
      margin-right: 5px;
      object-fit: cover;
     margin-left: 5px;
    }
    
    .text-right {
      margin-left: 5px;
      font-family: normal;
    }
    
    .ok {
      font-family: 'bold', Arial, sans-serif;
      font-size: 16px;
    }
    
    .ok2 {
      font-family: 'normal', Arial, sans-serif;
      font-size: 14.2px;
      color: #666;
    }
    
    .post-text {
      margin-left: 5px;
      font-size: 15.5px;
      color: black;
      margin-bottom: 3%;
      font-family: 'normal', Arial, sans-serif;
     

    }





#vid::before {
    content: '';
    position: absolute;
    top: 1.5%;
    right: 1%;
   opacity: 0.7;
    width: 20px; /* или другое значение, чтобы уменьшить размер изображения в центре */
    height: 20px; /* или другое значение, чтобы уменьшить размер изображения в центре */
    background-image: url('vid-ico.webp');
    background-size: cover;
    background-position: center;
    z-index: 5; /* чтобы изображение в центре было под основным изображением */
}

#pic::before {
    content: '';
    position: absolute;
    top: 2%;
    right: 3%;
   opacity: 0.7;
    width: 17px; /* или другое значение, чтобы уменьшить размер изображения в центре */
    height: 17px; /* или другое значение, чтобы уменьшить размер изображения в центре */
    background-image: url('photo-ico.webp');
    background-size: cover;
    background-position: center;
    z-index: 5; /* чтобы изображение в центре было под основным изображением */
}

  .grid-container {
       
       position: relative;
       top: 0;
        left: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
       grid-gap: 2px;
        padding: 2px;
    }

        .post {
      pointer-events: none;
        position: relative;
        overflow: hidden;
        padding-bottom: 133.33%; /* Сохраняем соотношение сторон поста */
    }

    .post img {
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; /* чтобы изображение вписывалось в размеры поста */
    }


.single-grid .post {

pointer-events: none;

   grid-column: span 3;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 133.33%; /* 3:4 aspect ratio */
    margin-bottom: 30px; 
    margin-top: 100px;
   
}

.single-grid .grid-container {
    grid-template-columns: repeat(1, 1fr);
   
}

.grid-container .post:nth-child(n+2) img {
    filter: blur(4px);
}

.post {
    overflow: hidden; 
}

.image-container {
pointer-events: none;
margin-top: 8px;
margin-left: 5px;
}

.image-container img:nth-child(1) {

pointer-events: none;

margin-right: 10px; 
width: 26px;
      height:26px; 
margin-bottom: -1px;

}

.image-container img:nth-child(2) {

pointer-events: none;

margin-right: 8px; width: 34px;
      height: 34px;
margin-bottom: -3.5px;

 
}

.image-container img:nth-child(3) {

pointer-events: none;
opacity: 0.65;
position: absolute;
right: 0;
bottom: 8px;
width: 27px;
      height: 27px; margin-top: 2px;
}

.centered-pic {
position: absolute;
  top:  2.5%;
  right: 3%;

  text-align:left;
 z-index: 2;
}

.centered-pic img{
width: 32px;
height: 32px;
z-index: 2;

opacity: 0.8;

}


.centered-vid {
position: absolute;
  top: 2.5%;
  right: 3%;
  text-align:left;
 z-index: 2;

}


.centered-button {
position: absolute;
  top: 50%;
  left: 50%;
 transform: translate(-50%, -50%);
  text-align:left;

 z-index: 2;

}


.centered-button img {
width: 50px;
height: 50px;
opacity: 0.7;
}

.centered-vid img{
width: 36px;
height: 36px;
opacity: 0.9;
}

.time {
position: absolute; 
top: 1%; 
right: 14.5%;  
z-index: 2;
font-family: 'bold', Arial, sans-serif;
  color: black;
  font-size: 13px;
 white-space: nowrap; /* Предотвращает перенос текста на новую строку */
  text-transform: uppercase; /* Делает все буквы заглавными */
 /* Делает текст жирным */
  line-height: 1.3; /* Увеличивает расстояние между строками */
 background-color: rgba(255, 255, 255, 0.5); /* Полупрозрачный белый фон */
  padding: 5.42px 7px;
  border-radius: 4px; /* Делает углы фона закругленными */
  opacity: 1; /* Уменьшает прозрачность текста */
}

.tip {
position: absolute; 
top: 1.35%; 
right: 14%; 
z-index: 2;
font-family: 'bold', Arial, sans-serif;
  color: black;
  font-size: 13px;
 white-space: nowrap; /* Предотвращает перенос текста на новую строку */
  text-transform: uppercase; /* Делает все буквы заглавными */
 /* Делает текст жирным */
  line-height: 1.3; /* Увеличивает расстояние между строками */
 background-color: rgba(255, 255, 255, 0.5); /* Полупрозрачный белый фон */
  padding: 2.95px 7px;
  border-radius: 4px; /* Делает углы фона закругленными */
  opacity: 1; /* Уменьшает прозрачность текста */
}

.centered-text2 {
 font-family: 'bold', Arial, sans-serif;
position: absolute;
  top: 35%;
  left: 50%;
 transform: translate(-50%, -50%);
  text-align:left;
 z-index: 2;
  color: black;
  font-size: 17px;
 white-space: nowrap; /* Предотвращает перенос текста на новую строку */
  text-transform: uppercase; /* Делает все буквы заглавными */
 /* Делает текст жирным */
  line-height: 1.3; /* Увеличивает расстояние между строками */
 background-color: rgba(255, 255, 255, 0.5); /* Полупрозрачный белый фон */
  padding: 10px; /* Добавляет небольшие отступы вокруг текста */
  border-radius: 4px; /* Делает углы фона закругленными */
  opacity: 0.6; /* Уменьшает прозрачность текста */
}